openai
python-dotenv
langchain
pathlib
langchain-google-vertexai
fastapi
pydantic
pandas
google-cloud-bigquery
google-cloud-firestore
langgraph
langchain-openai
langchain-community
langchain-chroma
langchainhub
firestore
langchain-google-firestore
langchain-tavily
firecrawl-py
geopy
sibr_module

