async-lru
beautifulsoup4
db-dtypes
fastapi
fastapi-cli
fastapi-cloud-cli
fastjsonschema
google-api-core
google-auth
google-cloud
google-cloud-bigquery
google-cloud-bigquery-storage
google-cloud-core
google-crc32c
grpcio
httpx
json5
nest-asyncio
numpy
pandas
pydantic
pytest
requests
urllib3
uvicorn